<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
    rel="stylesheet" />
<script src="/js/menu.js" th:src="@{/js/menu.js}"></script>
<script src="/js/jumbo.js" th:src="@{/js/jumbo.js}"></script>
    
<link href="/css/headerMenu.css" th:href="@{/css/headerMenu.css}"
    rel="stylesheet" />
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>

</head>


<div th:replace="includes/header :: menu"></div>
    
<body>

    <section class="container">

        
        <p>
            <img class="img-responsive img-rounded" src="/img/clinica.jpg"
                th:src="@{/img/clinica.jpg}" alt="img error" />
        </p>

        <div class="panel-group" id="paineis-sobre">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                    data-target="#primeiro-paragrafo" data-parent="#paineis-sobre">
                    <h3 class="panel-title">Desde 1935</h3>
                </div>

                <div class="collapse in" id="primeiro-paragrafo">
                    <div class="panel-body">Desde 1935 atendendo nossos pacientes com humanidade 
                        e amor</div>
                </div>
            </div>

            <div class="panel panel-default" onload="jumbo.js">
                <div class="panel-heading" data-toggle="collapse"
                    data-target="#segundo-paragrafo" data-parent="#paineis-sobre">
                    <h3 class="panel-title">Equipe profissional</h3>
                </div>

                <div id="segundo-paragrafo" class="collapse">
                    <div class="panel-body">uma equipe que trata todos com muito amor e carinho</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse"
                    data-target="#terceiro-paragrafo" data-parent="#paineis-sobre">
                    <h3 class="panel-title">Alegria em colaborar para um mundo
                        mais bonito</h3>
                </div>

                <div id="terceiro-paragrafo" class="collapse">
                    <div class="panel-body">Trazendo alegria para a vida das
                        pessoas.</div>
                </div>
            </div>
        </div>
       
    </section>

    
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <div th:replace="includes/header :: footer"></div>
</body>
</html>
