<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
<title>Insert title here</title>

    <link href="/css/headerMenu.css" th:href="@{/css/headerMenu.css}" 
          rel="stylesheet" />
    </head>
<body>

<p>2015  Tribunal Regional do Trabalho da 9a região</p>
        <p><a href="medicos.html"></a></p>
        
 <p class="med">
 testando inserção de imagens normais
 <a href="/home"> <img src="/img/ambu.jpg" th:src="@{/img/ambu.jpg}" alt="img error"/> </a>
 </p>       
 
<!--  <p> testando a inserção da ambulancia</p> -->
<!--  <img src="/img/ambulance.png" th:src="@{/img/ambulance.png}" alt="img error" /> -->
 
<!-- <p> testando a inserção</p>     -->
    
<!-- <img src="/img/casa.png" th:src="@{/img/casa.png}" alt="img error" /> -->
    
<!-- <img class="img-responsive img-rounded" src="/img/castelo.jpg" -->
<!-- 				th:src="@{/img/castelo.jpg}" alt="img error" />          -->

<img src="/img/medic.png" th:src="@{/img/medic.png}" alt="img error"/>    
    
    
 <p class="med">
 testando inserção de imagens normais
 <a class="med" href="/home"> <img src="https://image.freepik.com/icones-gratis/ambulancia_318-43262.jpg" 
                       th:src="@{https://image.freepik.com/icones-gratis/ambulancia_318-43262.jpg}" alt="img error"/> </a>
 </p>       
    
    
.med img { 
    text-align: left;
    height: 30px;
    width: 30px;
    background-repeat:no-repeat;
    object-fit: contain;
    width: 100%; 
}    
    
#-webkit-filter: invert(1);
   #filter: invert(1);    
    
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>