<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>

<link th:href="@{/css/headerMenus.css}" rel="stylesheet" />
<link th:href="@{/css/icons.css}" rel="stylesheet" />

<script src="/js/menu.js" th:src="@{js/menu.js}"></script>
<script src="/js/jumbo.js" th:src="@{js/jumbo.js}"></script>
    
    
</head>

<body>

	<div th:fragment="menu">

		<div class="navbar navbar-inverse navbar-twitch" role="navigation">
			<div class="container">
				<div class="navbar-header">
				</div>
				<div class="">
					<ul class="nav navbar-nav">
						
                        <li class="active"><a href="/home"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="Home">
									<span class="glyphicon glyphicon-home"></span>
							</span> <span class="full-nav"> Home </span>
						</a></li>
						
                        <li><a href="/about"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="About Us">
									<span class="fa fa-users"></span>
							</span> <span class="full-nav"> Sobre nós </span>
						</a></li>
						<li><a href="paciente/cadastro"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="pacientes">
									<span class="fa fa-users"></span>
							</span> <span class="full-nav"> cadastro  de pacientes </span>
						</a></li>
                        <li><a href="/consultas"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="About Us">
									<span class="glyphicon glyphicon-heart-empty"></span>
							</span> <span class="full-nav"> Consultas </span>
						</a></li>
						<li><a class="med " href="medicos"> 
                            <span class="small-nav"	data-toggle="tooltip" data-placement="right" title="Medicos">
							</span> <span class="full-nav"> Médicos </span>
						</a></li>
						<li><a href="/contato"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="Contact Us">
									<span class="glyphicon glyphicon-comment"></span>
							</span> <span class="full-nav"> Contate-nos </span>
						</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	
		
        <div class="container">    
        <section class="bg-1 img-responsive img-rounded">
			<div>
                <h1>Medclin clinics</h1>
				<p class="lead">Sua clinica integrada</p>
            </div>
            </section>    
        </div>
        
			
		




	</div>



	<div th:fragment="footer">
        
	<p class="rodape"><img class="img-responsive" src="/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="error"/></p>
        
	</div>

</body>

</html>