<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>

<link th:href="@{css/headerMenus.css}" rel="stylesheet" />
<link th:href="@{css/icons.css}" rel="stylesheet" />
<script th:src="@{js/menu.js}"></script>

</head>

<body>

	<div th:fragment="menu">

		<div class="navbar navbar-inverse navbar-twitch" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <span class="small-nav">
							<span class="logo"> </span>
					</span> <span class="full-nav"> </span>
					</a>
				</div>
				<div class="">
					<ul class="nav navbar-nav">
						
                        <li class="active"><a href="/home"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="Home">
									<span class="glyphicon glyphicon-home"></span>
							</span> <span class="full-nav"> Home </span>
						</a></li>
						
                        <li><a href="/about"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="About Us">
									<span class="fa fa-users"></span>
							</span> <span class="full-nav"> Sobre nós </span>
						</a></li>
                        <li><a href="/consultas"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="About Us">
									<span class="glyphicon glyphicon-heart-empty"></span>
							</span> <span class="full-nav"> Consultas </span>
						</a></li>
						<li><a class="med " href="medicos"> 
                            <span class="small-nav"	data-toggle="tooltip" data-placement="right" title="Medicos">
							</span> <span class="full-nav"> Médicos </span>
						</a></li>
						<li><a href="/contato"> <span class="small-nav"
								data-toggle="tooltip" data-placement="right" title="Contact Us">
									<span class="glyphicon glyphicon-comment"></span>
							</span> <span class="full-nav"> Contate-nos </span>
						</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
		<button type="button"
			class="btn btn-default btn-xs navbar-twitch-toggle">
			<span class="glyphicon glyphicon-chevron-right nav-open"></span> <span
				class="glyphicon glyphicon-chevron-left nav-close"></span>
		</button>

		<div class="container">
			<div class="row">
				<h2>theme from twitch</h2>
				<p>This is a quick example you can change later, instead of using this
				.</p>
			</div>
			<div class="row">
				<h2>Navbar Styles</h2>
				<p>Just to show off how easy it is to theme!</p>
				<button type="button"
					class="btn btn-inverse nav-style-toggle disabled"
					data-type="inverse">Inverse</button>
				<button type="button" class="btn btn-default nav-style-toggle"
					data-type="default">Default</button>
				<button type="button" class="btn btn-purple nav-style-toggle"
					data-type="purple">Purple</button>
			</div>
		</div>




	</div>



	<div th:fragment="footer">
	<p class="rodape"><img src="/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="error"/></p>
        
	</div>

</body>

</html>